<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password |Student Management & Analytics System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="dashboard-page">

<div class="layout">

    <!-- MAIN CONTENT -->
    <main class="content">

        <div class="form-card animate">

            <h2 class="form-title">Reset Password</h2>

            {% if error %}
            <div class="error-box">{{ error }}</div>
            {% endif %}

            {% if success %}
            <div class="success-box">{{ success }}</div>
            {% endif %}

            <form method="POST" class="student-form">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" required>
                </div>

                <div class="form-group">
                    <label>Role</label>
                    <select name="role" required>
                        <option value="">Select Role</option>
                        <option value="ADMIN">Admin</option>
                        <option value="STUDENT">Student</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Answer</label>
                    <input
                         type="text"
                         name="answer"
                         placeholder="Answer"
                         required
                    >
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="new_password" required>
                </div>

                <button type="submit" class="btn-primary">
                    🔐 Reset Password
                </button>

            </form>

            <div style="text-align:center; margin-top:15px;">
                <a href="{{ url_for('login') }}">← Back to Login</a>
            </div>

        </div>

    </main>

</div>

</body>
</html>
